Flask==2.2.2
gunicorn
Werkzeug==2.2.2
langchain==0.3.7
pinecone==5.3.1
langchain_openai==0.2.5
langchain_pinecone==0.2.0
azure-cosmos==4.9.0
azure-identity==1.19.0
boto3==1.24.28
langchain_community
pypdf==4.3.1